$color-background: #f7b801;
$color-white: #fff;
$color-primary--dark: #101539;
$color-primary: #212750;
$color-primary--medium: #7678ed;
$color-primary--light: #4b5179;
$color-primary--xlight: #6d7395;
